includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-nette/extension.neon
    - vendor/phpstan/phpstan-nette/rules.neon
    - vendor/spaze/phpstan-disallowed-calls/extension.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-dangerous-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-execution-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-insecure-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-loose-calls.neon
    - tests/PHPStan/disallowedCalls.neon

parameters:
    level: max
    paths:
        - src

    exceptions:
        implicitThrows: false
        check:
            missingCheckedExceptionInThrows: true
            tooWideThrowType: true
        uncheckedExceptionClasses:
            - LogicException
            - ReflectionException
            - Nette\InvalidStateException

    ignoreErrors:
        - # intended
            message: '~Property Nepada\\SecurityAnnotations\\RequirementsChecker::\$accessValidators with generic interface Nepada\\SecurityAnnotations\\AccessValidators\\AccessValidator does not specify its types: TAnnotation~'
            path: src/SecurityAnnotations/RequirementsChecker.php
        - # intended
            message: '~Method Nepada\\SecurityAnnotations\\RequirementsChecker::addAccessValidator\(\) has parameter \$accessValidator with generic interface Nepada\\SecurityAnnotations\\AccessValidators\\AccessValidator but does not specify its types: TAnnotation~'
            path: src/SecurityAnnotations/RequirementsChecker.php
        - # intended
            message: '~Method Nepada\\SecurityAnnotations\\RequirementsChecker::__construct\(\) has parameter \$accessValidators with generic interface Nepada\\SecurityAnnotations\\AccessValidators\\AccessValidator but does not specify its types: TAnnotation~'
            path: src/SecurityAnnotations/RequirementsChecker.php
