includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-nette/extension.neon
    - vendor/phpstan/phpstan-nette/rules.neon
    - vendor/nepada/phpstan-nette-tester/extension.neon
    - vendor/phpstan/phpstan-mockery/extension.neon
    - tests/PHPStan/disallowedCalls.neon

parameters:
    level: max
    paths:
        - tests

    fileExtensions:
        - php
        - phpt

    excludes_analyse:
        - tests/temp/*
        - tests/SecurityAnnotations/fixtures/*

    ignoreErrors:
        - # intended
            message: '~Method NepadaTests\\SecurityAnnotations\\RequirementsCheckerTest::createRequirementsChecker\(\) has parameter \$accessValidators with generic interface Nepada\\SecurityAnnotations\\AccessValidators\\AccessValidator but does not specify its types: TAnnotation~'
            path: tests/SecurityAnnotations/RequirementsCheckerTest.phpt
