includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-nette/extension.neon
    - vendor/phpstan/phpstan-nette/rules.neon
    - vendor/damejidlo/phpstan-nette-tester/extension.neon
    - vendor/phpstan/phpstan-mockery/extension.neon

parameters:
    level: max
    paths:
        - tests

    fileExtensions:
        - php
        - phpt

    autoload_directories:
        - tests

    excludes_analyse:
        - tests/bootstrap.php
        - tests/temp/*
        - tests/SecurityAnnotations/fixtures/*
