includes:
    - phar://phpstan.phar/vendor/pepakriz/phpstan-exception-rules/extension.neon
    - phar://phpstan.phar/vendor/phpstan/phpstan-nette/extension.neon
    - phar://phpstan.phar/vendor/phpstan/phpstan-nette/rules.neon
    - phar://phpstan.phar/vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: max
    paths:
        - %currentWorkingDirectory%/src

    exceptionRules:
        uncheckedExceptions:
            - LogicException
            - Nette\InvalidStateException
