rules:
    - ShipMonk\PHPStan\Rule\ForbidFetchOnMixedRule
    - ShipMonk\PHPStan\Rule\ForbidMatchDefaultArmForEnumsRule
    - ShipMonk\PHPStan\Rule\ForbidMethodCallOnMixedRule
    - ShipMonk\PHPStan\Rule\ForbidReturnInConstructorRule
    - ShipMonk\PHPStan\Rule\ForbidUnsetClassFieldRule
    - ShipMonk\PHPStan\Rule\ForbidUnusedExceptionRule
    - ShipMonk\PHPStan\Rule\RequirePreviousExceptionPassRule

services:
    -
        type: ShipMonk\PHPStan\Visitor\UnusedExceptionVisitor
        tags:
            - phpstan.parser.richParserNodeVisitor
