includes:
    - ../../vendor/shipmonk/phpstan-rules/rules.neon

parameters:
    shipmonkRules:
        allowComparingOnlyComparableTypes:
            enabled: false
        allowNamedArgumentOnlyInAttributes:
            enabled: false
        enforceReadonlyPublicProperty:
            enabled: false
        forbidCustomFunctions:
            enabled: false
            list: []
        forbidNullInBinaryOperations:
            blacklist: [
                '**', '!=', '==', '+', 'and', 'or', '&&', '||', '%', '-', '/', '*', # checked by phpstan-strict-rules
                '>', '>=', '<', '<=', '<=>', # allow comparisons
                '===', '!==', '??' # valid
            ]
        forbidNullInInterpolatedString:
            enabled: false
        forbidUselessNullableReturn:
            enabled: false
        requirePreviousExceptionPass:
            reportEvenIfExceptionIsNotAcceptableByRethrownOne: false
